/*
 For css overrides needed for customizations.
 By having this separate file for css overrides, it should be easier to backup and restore customizations.
 If some organization want to style the IPT to their own branding and they want to support more backward compatibility
 they can create their own modernizr.js with the desired supported elements. They only have to replace the 'default'
 file with their own.
*/
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700,700i');



a {
  color: #54a4db;
  font-weight: normal;
}

body {
    font: 13px/1.5 'Open Sans','Helvetica Neue', Arial, 'Liberation Sans', FreeSans, sans-serif;
}
.green{
  color: #54a4db;
}
#region-menu nav ul li.current {
  background-color: #54a4db;
}
#region-content h1 {
  color: #54a4db;
}
div.groupmenu ul li a {
  color: #54a4db;
}
table#rtable thead{
  background-color: #ddedf8;
}
.dataTables_filter {
  background-color: #ddedf8;
}
tr.even td.sorting_1 {
  background-color: #E3ECF9;
}
.actionMessage{
  color: #54a4db;
  background-color: #ddedf8;
}
.site-name-slogan {
    margin-top: 5px;
    float: left;
    display: none;
}
#language-menu {
    background-color: #fff;
    /* -webkit-border-radius: 0 0 12px 12px; */
    /* border-radius: 0 0 12px 12px; */
    padding: 10px;
    position: relative;
    float: right;
    -webkit-box-shadow: 0px 0px 8px 0px rgba(200, 200, 200, 0.4);
    box-shadow: 0px 0px 8px 0px rgba(200, 200, 200, 0.4);
    font-size: 0.9em;
}
Body {
  padding: 0px;
  margin: 0px;
  height: 100%;
  background-color:#d4d4d4;
  color: #666;
}
table.display td {
    padding: 10px 10px;
    vertical-align: middle;
}
tr.odd td.sorting_1 {
    background-color: #E2E2E2;
}
.dataTables_info {
    width: 60%;
    float: left;
    padding: 10PX;
}
.dataTables_paginate {
    float: right;
    text-align: right;
    padding: 10px;
}
#region-content p {
    font-size: 0.9em;
    padding: 10px;
}
#region-content h1 {
    color: #54a4db;
    padding: 10px;
}
.sidebar-nav li a:hover {
  text-decoration: none;
  color: #666;
  background: #EEF6FB;
}
.warn, .WARN {
    color: orangered;
}
#zone-credit {
    background: #333;
}
#region-user-second a {
  color: #1D86C8;
  text-decoration: underline;
}
#zone-footer ul li a {
    color: #333;
    text-decoration: underline;
    font-size: 1em;
}
#zone-footer a:hover {
    opacity: .6;
}
h3.subTitle {
    display: block;
    margin-top: 10px;
    font-family: "Arial", sans-serif;
    font-size: 1.2em;
    padding: 10px;
}
div.definition div.body div.details {
    font-size: 0.9em;
    padding: 10px;
}
div.requiredMapping {
  background-color: #E3ECF9;
}

/* table.display thead th {
    padding: 5px 11px 5px 5px;
    border-bottom: 1px solid #333;
    font-weight: bold;
    cursor: pointer;
}
*/
.subTitle {
    margin-bottom: 5px;
    color: #333;
    padding:10px;
}
div.buttons {
    min-width: 200px;
    margin-top: 10px;
    float: left;
    padding: 10px;
}
tr.rowInError {
    color: coral;
}
.footer-sib {
    /*padding:10px;*/
    display: block;
    margin: auto;
}
